[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Never commit these...
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store

.vscode/
.vs/

# ---------------------
# BUILD RULES
# ---------------------

# Ignore the whole Builds folder
Builds/

# BUT keep Builds/Server and its content
!Builds/Server/
!Builds/Server/**
